
.accordion{
    margin-left: 10%;
    margin-right: 10%;
}

#root > div > div > div > div:nth-child(1) > h1{
    margin-left: 10%;
}

#root > div > div > div > div:nth-child(1) > button{
    margin-right: 10%;
}

.list-group{
    margin-left: 11%;
    margin-right: 11%;
}
